accelerate
datasets
fastapi
fire
gradio
mmengine
numpy
pybind11
safetensors
sentencepiece
setuptools
shortuuid
tiktoken
torch
transformers>=4.33.0
tritonclient[all]
uvicorn
sse_starlette
loguru
opencv-python==4.5.5.64
typing-extensions==4.8.0
